---
import Layout from '~/layouts/PageLayout.astro';
import Note from '~/components/widgets/Note.astro';
import Prices from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Preise',
};
---

<script>
  import Swal from 'sweetalert2';
  import 'sweetalert2/dist/sweetalert2.min.css';
  window['gotoBuy'] = function (redirectUrl) {
    Swal.fire({
      title: 'Bitte bestätigen',
      html: '<p style="text-align:left">Möchten Sie zur Kaufseite weitergeleitet werden? <br><br>Bitte beachten Sie, dass Sie <b style="font-size: 2em">KEIN</b> <span style="text-decoration:line-through">SaaS (Software as a Service) Abonnement</span> erwerben. <br><br>Stattdessen handelt es sich um eine Lizenz für eine <b style="font-size: 2em">Self-Hosting</b> Lösung, die Sie auf Ihrem eigenen Server bereitstellen müssen (Cloud-Server, z.B. AWS EC2, Azure VM, Vultr VPS etc. oder Ihr eigener On-Premise-Server). <br><br>Bitte <b style="font-size: 2em">kaufen Sie nicht</b>, wenn Sie nicht wissen, was Self-Hosting bedeutet.',
      icon: 'question',
      showCancelButton: true,
      confirmButtonText: 'Ja',
      cancelButtonText: 'Nein',
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire({
          title: 'Bitte bestätigen',
          html: 'Bitte beachten Sie, dass wir <span class="text-3xl font-bold">keine</span> <span class="text-3xl font-bold">Rückerstattungen</span> anbieten. Wir empfehlen dringend, <span class="underline font-bold">unseren kostenlosen Self-Hosting-Plan zu testen</span>, bevor Sie den Kauf unseres Pro-Plans in Erwägung ziehen. Möchten Sie trotzdem fortfahren?',
          showCancelButton: true,
          confirmButtonText: 'Ja',
          cancelButtonText: 'Nein',
        }).then((result) => {
          if (result.isConfirmed) {
            window.open(redirectUrl, '_blank');
          }
        });
      }
    });
  };
</script>

<Layout metadata={metadata} i18n>
  <Note
    title="Hinweis"
    subtitle='Diese Preise gelten für eine <span class="text-xl text-blue-500">Self-Hosting</span> Lösung, es ist <span class="text-3xl font-extrabold">KEIN</span> <span class="line-through text-xl text-blue-500">SaaS</span> Abonnement.'
  />

  <Prices
    title='Preise für unsere <span class="text-5xl text-blue-500">Self-Hosting</span> Lösungen'
    subtitle="Zahlen Sie nur für das, was Sie benötigen"
    prices={[
      {
        title: 'Kostenlos',
        subtitle: 'Kostenloser Self-Hosting-Plan',
        price: '0 <span class="text-sm">/Monat</span>',
        period: 'Open Source und kostenlos',
        items: [
          {
            description: 'Online-Status',
          },
          {
            description: 'Community-Support',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Loslegen',
          href: 'https://rustdesk.com/docs/en/self-host/rustdesk-server-oss/',
        },
      },
      {
        title: 'Individuell',
        subtitle: 'Individueller Self-Hosting <span class="font-bold">Pro</span> Plan',
        price: '9,90 <span class="text-sm">/Monat</span>',
        period: 'jährlich abgerechnet',
        items: [
          {
          description:
            '<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#login-users">1 Anmeldebenutzer <span class="inline-flex items-center justify-center w-4 h-4 text-xs font-bold text-white bg-red-500 rounded-full hover:bg-red-600 cursor-help ml-1" title="Click for more information">?</span></a>',
          },
          {
          description:
            '<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#managed-devices">20 verwaltete Geräte <span class="inline-flex items-center justify-center w-4 h-4 text-xs font-bold text-white bg-red-500 rounded-full hover:bg-red-600 cursor-help ml-1" title="Click for more information">?</span></a>',
          },
          {
          description:
            '<a class="underline text-red-500 font-bold" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#concurrent-connections">Unbegrenzte gleichzeitige Verbindungen</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/2fa/">2FA</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/console/">Web-Konsole</a>',
          },
          {
            description: 'Adressbuch',
          },
          {
            description: 'Audit-Log',
          },
          {
            description: 'ID ändern',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/permissions/">Zugriffskontrolle</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/strategy/">Zentralisierte Einstellungen</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/relay/">Verteilte Relay-Server</a>',
          },
        ],
        callToAction: {
          text: 'Jetzt kaufen',
          onclick: 'gotoBuy("https://rustdesk.com/api/lic/stripe/checkout?type=Individual")',
          variant: 'primary',
        },
      },
      {
        title: 'Basic',
        subtitle: 'Basic Self-Hosting <span class="font-bold">Pro</span> Plan',
        price: '19,90 <span class="text-sm">/Monat</span>',
        period: 'jährlich abgerechnet',
        items: [
          {
            description: '<span class="font-bold text-red-500">Alles im individuellen Plan</span>',
            icon: 'tabler:checks',
          },
          {
          description:
            '<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#login-users">10 login users</a>',
          },
          {
          description:
            '<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#managed-devices">100 verwaltete Geräte</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/oidc/">OIDC (SSO)</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/ldap/">LDAP-Integration</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/permissions/#cross-group-settings">Gruppenübergreifender Zugriff</a>',
          },
          {
            description:
              '<a class="underline text-blue-500 font-bold" target="_blank" href="https://rustdesk.com/docs/en/self-host/client-configuration/#1-custom-client-generator-pro-only">Benutzerdefinierter Client-Generator</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#how-to-make-rustdesk-work-properly-in-restricted-network-with-80443-only">WebSocket</a>',
          },
        ],
        callToAction: {
          text: 'Jetzt kaufen',
          onclick: 'gotoBuy("https://rustdesk.com/api/lic/stripe/checkout?type=Basic")',
        },
        hasRibbon: true,
        ribbonTitle: 'beliebt',
      },
      {
        title: 'Angepasst',
        subtitle: 'Angepasster <span class="font-bold">Pro</span> Plan',
        price: '<span id="cprice">19,90</span> <span class="text-sm">/Monat</span>',
        period: 'jährlich abgerechnet',
        items: [
          {
            description: '<span class="font-bold text-red-500">Alles im Basic-Plan</span>',
            icon: 'tabler:checks',
          },
          {
            description: '1 € für jeden zusätzlichen Benutzer',
          },
          {
            description: '0,1 € für jedes zusätzliche Gerät',
          },
        ],
        content: `
<form class="flex flex-col space-y-3 mx-3 min-w-[200px]">
  <label for="users" class="text-left font-bold">Anzahl der Anmeldebenutzer:</label>
  <input class="bg-white text-black rounded-md border border-gray-300 py-1 px-2 w-24 h-10" type="number" id="users" name="users" value="10" min="10" max="500" step="10">
  <input type="range" id="usersSlider" class="slider" name="usersRange" value="10" min="10" max="500" step="10">
  <label for="devices" class="text-left font-bold">Anzahl verwalteter Geräte:</label>
  <input class="bg-white text-black rounded-md border border-gray-300 py-1 px-2 w-24 h-10" type="number" id="devices" name="devices" value="100" min="100" max="5000" step="100">
  <input type="range" id="devicesSlider" class="slider" name="devicesRange" value="100" min="100" max="5000" step="100">
</form>
<br>
`,
        callToAction: {
          text: 'Jetzt kaufen',
          onclick: 'submit()',
          variant: 'primary',
        },
      },
    ]}
  />

  <Prices
    prices={[
      {
        title: 'Angepasst V2',
        subtitle: 'Angepasster <span class="font-bold">Pro</span> Plan mit begrenzten gleichzeitigen Verbindungen',
        price: '<span id="cprice2">19,90</span> <span class="text-sm">/Monat</span>',
        period: 'jährlich abgerechnet',
        items: [
          {
            description:
              '<span class="font-bold">Alles im Basic Self-Hosting-Plan <span class="underline font-normal">aber mit begrenzten gleichzeitigen Verbindungen, überschüssige verwaltete Geräte werden nicht deaktiviert</span></span>',
            icon: 'tabler:checks',
          },
          {
            description: 'Unbegrenzte gleichzeitige Sitzungen (in Tabs oder separaten Fenstern) pro gleichzeitiger Verbindung',
          },
          {
            description: '1 € für jeden zusätzlichen Benutzer',
          },
          {
            description: '0,1 € für jedes zusätzliche Gerät',
          },
          {
            description: '20 € für jede zusätzliche gleichzeitige Verbindung',
          },
        ],
        id: 'custom2',
        content: `
<form class="flex flex-col space-y-3 mx-3">
  <label for="users2" class="text-left font-bold">Anzahl der Anmeldebenutzer:</label>
  <input class="bg-white text-black rounded-md border border-gray-300 py-1 px-2 w-24 h-10" type="number" id="users2" name="users2" value="10" min="10" max="500" step="10">
  <input type="range" id="usersSlider2" class="slider" name="usersRange2" value="10" min="10" max="500" step="10">
  <label for="devices2" class="text-left font-bold">Anzahl verwalteter Geräte:</label>
  <input class="bg-white text-black rounded-md border border-gray-300 py-1 px-2 w-24 h-10" type="number" id="devices2" name="devices2" value="100" min="100" max="5000" step="100">
  <input type="range" id="devicesSlider2" class="slider" name="devicesRange2" value="100" min="100" max="5000" step="100">
  <label for="conns" class="text-left font-bold">Anzahl gleichzeitiger Verbindungen:</label>
  <input class="bg-white text-black rounded-md border border-gray-300 py-1 px-2 w-24 h-10" type="number" id="conns" name="conns" value="1" min="1" max="50" step="1">
  <input type="range" id="connsSlider" class="slider" name="connsRange" value="1" min="1" max="50" step="1">
</form>
<br>

`,
        callToAction: {
          text: 'Jetzt kaufen',
          onclick: 'submit2()',
          variant: 'primary',
        },
      },
    ]}
  />

  <CallToAction
    actions={[
      {
        text: 'sales@rustdesk.com',
        href: 'mailto:sales@rustdesk.com',
        target: '_blank',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">Kontaktieren Sie uns für größere Pläne & Anfragen</Fragment>
  </CallToAction>

  <Steps
    title="Eine geführte Reise von der Planung bis zur Produktion"
    tagline="vereinfachter Prozess"
    isReversed={true}
    items={[
      {
        title: 'RustDesk Server Pro installieren',
        icon: 'tabler:number-1',
        description:
          '<code>bash <(wget -qO- https://get.docker.com)<br>wget rustdesk.com/pro.yml -O compose.yml<br>docker compose up -d</code>',
      },
      {
        title: 'Pläne erkunden und einen Plan auswählen',
        icon: 'tabler:number-2',
      },
      {
        title: 'E-Mail und Zahlungsdetails eingeben',
        icon: 'tabler:number-3',
      },
      {
        title: 'Erhalten Sie den Lizenzschlüssel über die von Ihnen angegebene E-Mail',
        icon: 'tabler:number-4',
      },
      {
        title: 'Geben Sie den Lizenzschlüssel in der Web-Konsole von RustDesk Server Pro ein',
        icon: 'tabler:number-5',
      },
      {
        title: 'Fertig!',
        icon: 'tabler:check',
        description:
          'Für detaillierte Anweisungen lesen Sie bitte unsere <a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/license/">Dokumentation</a>.',
      },
    ]}
    image={{
      src: '~/assets/images/steps.jpg',
      alt: 'Schritte Bild',
    }}
  />

  <FAQs
    title="Preis-FAQs"
    subtitle="Die Wahl des richtigen Plans ist wichtig, und wir sind hier, um Ihre Fragen zu beantworten. Wenn Sie Fragen zu unseren Preisoptionen haben, sind Sie hier richtig."
    columns={1}
    items={[
      {
        title: 'Beinhalten die Pläne Kundensupport?',
        description:
          'Absolut, alle kostenpflichtigen Pläne beinhalten Zugang zu unserem engagierten Kundensupport, der Ihnen bei allen Fragen oder Anliegen zur Seite steht.',
      },
      {
        title: 'Gibt es eine Testlizenz?',
        description: 'Bitte <a class="underline" href="mailto:sales@rustdesk.com">kontaktieren Sie uns</a>',
      },
      {
        title: 'Wie kann ich meinen Plan upgraden?',
        description:
          'Selbstverständlich! Sie können Ihren Plan jederzeit einfach <a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/license/#renewupgrade-license">upgraden</a>, um den Plan zu finden, der Ihren sich entwickelnden Anforderungen am besten entspricht.',
      },
      {
        title: 'Welche Zahlungsmethoden akzeptieren Sie?',
        description:
          'Wir akzeptieren alle gängigen Kreditkarten und Online-Zahlungsmethoden, um einen bequemen und sicheren Transaktionsprozess zu gewährleisten. Wenn Sie per Banküberweisung bezahlen möchten, <a class="underline" href="mailto:sales@rustdesk.com">kontaktieren Sie uns bitte</a>; es fallen zusätzliche Bankbearbeitungsgebühren an, und wir senden Ihnen den Lizenzschlüssel, sobald wir die Offline-Zahlung auf dem Bankkonto erhalten haben; dies dauert 3-5 Werktage.',
      },
      {
        title: 'Gibt es versteckte Gebühren über die angezeigten Kosten hinaus?',
        description:
          'Nein, die Kosten decken alle Funktionen ab, die unter jedem Plan aufgeführt sind. Es gibt keine versteckten Gebühren oder zusätzlichen Kosten.',
      },
      {
        title: 'Bieten Sie monatliche Zahlungen an?',
        description:
          'Nein, wir bieten nur jährliche Zahlungspläne an. Wir erneuern nicht automatisch; Sie erhalten 14 Tage vor Ablauf Ihrer Lizenz eine E-Mail, die Sie an die Erneuerung erinnert.',
      },
      {
        title: 'Gibt es Rabatte für gemeinnützige oder Bildungsorganisationen?',
        description: 'Nein, wir haben das noch nicht. Wir empfehlen Ihnen, den kostenlosen Plan zu nutzen.',
      },
      {
        title: "Was sind Ihre Geschäftsbedingungen?",
        description:
          'Bitte überprüfen Sie diese <a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk-server-pro/blob/main/terms">Bedingungen</a>',
      },
      {
        title: 'Wie sieht es mit gelegentlichen Support-Fällen aus? Wir haben einige Geräte, die gelegentlich unterstützt werden müssen, ohne unbeaufsichtigten Zugriff.',
        description:
          'Wir bieten diese <a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk-server-pro/discussions/182#discussioncomment-10083053">Lösung</a> an',
      }
    ]}
  />
</Layout>
