---
import 'vanilla-cookieconsent/dist/cookieconsent.css';
import '../assets/styles/ccElegantBlack.css';
---

<button type="button" data-cc="show-preferencesModal">Show preferences modal</button>

<script>
  import { run } from 'vanilla-cookieconsent';
  import { config } from './CookieConsentConfig';

  // toggle custom black theme
  document.body.classList.add('cc--elegant-black');

  run(config);
</script>
