a#logo {
    display: flex;
	align-items: center;
	justify-content: center;
}

a#logo span {
	font-weight: 600;
    font-size: 18px;
    color: white;
	margin-left: 0.5rem;
    margin-top: 3px;
}

/* Add a space beetween icon and language choice dropdown until better solution is found */
a.padding i.fa-language{
    margin-right: 6px; 
}

#sidebar #header-wrapper {
    background: inherit;
    color: var(--MENU-SEARCH-BOX-color);
    border-bottom: 1px solid var(--MENU-SECTION-HR-color);
}
