a#logo {
    display: flex;
	align-items: center;
	justify-content: center;
}

a#logo span {
	font-weight: 600;
    font-size: 18px;
    color: white;
	margin-left: 0.5rem;
    margin-top: 3px;
}

/* Add a space between icon and language choice dropdown until better solution is found */
a.padding i.fa-language{
    margin-right: 6px; 
}

#sidebar #header-wrapper {
    background: inherit;
    color: var(--MENU-SEARCH-BOX-color);
    border-bottom: 1px solid var(--MENU-SECTION-HR-color);
}

a {
  color: #024eff;
}

body {
  color: rgb(28, 30, 33) !important;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
}

li > a {
  color: #606770;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  color: black !important;
}

h1 {
  font-weight: bold;
}

div.notices p {
  color: black !important;
}

#sidebar h3 {
  color: white !important;
}
