---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'معلومات عنا',
};
---

<Layout metadata={metadata} i18n>
  <!-- Hero Widget ******************* -->

  <Hero tagline="معلومات عنا">
    <Fragment slot="title"> لماذا نبني هذا؟ </Fragment>

    <Fragment slot="subtitle">
      <p class="text-left">
        في خضم جائحة كوفيد-19 في منتصف عام 2020، وجد المطور الرئيسي / المؤسس نفسه مضطراً للحصول على ترخيص تجاري لـ TeamViewer لتسهيل العمل عن بُعد في سنغافورة. ومع ذلك، فقد صُدم من التكلفة الباهظة. بعد ليلة بلا نوم، بدأ مهمة لإنشاء حل بديل. وهكذا، تم تصور RustDesk - برنامج سطح مكتب عن بُعد مفتوح المصدر ومتاح مجانًا تم تطويره بعناية من خلال العديد من الليالي بلا نوم. وقد أسفر هذا العمل من التفاني والعزيمة عن إصدار RustDesk على GitHub في عام 2021، مما سمح باستخدامه من قبل الأفراد في جميع أنحاء العالم.
      </p>
    </Fragment>
  </Hero>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="الفريق الأساسي"
    items={[
      {
        title: 'جوزيف جاكس<br><small>الرئيس التنفيذي</small>',
        description:
          "أسس جوزيف جاكس OSS Capital في عام 2018. إنها أول وأكبر شركة استثمارية في العالم مخصصة حصريًا للشركات الناشئة في مجال البرمجيات مفتوحة المصدر التجارية على مستوى عالمي. سابقًا، ساعد في بدء وتشغيل أول شركة ناشئة في Kubernetes (Kismatic) وأيضًا أسس وأدار KubeCon (مؤتمر مجتمع Kubernetes) قبل التبرع بها إلى مؤسسة Linux في عام 2016 عندما كانت CNCF (مؤسسة الحوسبة السحابية الأصلية) تتشكل.",
        icon: 'tabler:user',
      },
      {
        title: 'هوا بينغ تشو<br><small>المدير التقني</small>',
        description:
          'قبل تأسيس وتطوير RustDesk، جمع هوا بينغ تشو أكثر من 12 عامًا من الخبرة في مجال تكنولوجيا المعلومات المالية أثناء عمله في سنغافورة. يجلب ثروة من الخبرة الحياتية الحقيقية لكل من المشروع وإدارة الأعمال.',
        icon: 'tabler:user',
      },
      {
        title: 'دانيال لام<br><small>مساعد المجتمع</small>',
        description:
          "مع مسيرة مهنية رائعة تمتد لربع قرن في صناعة تكنولوجيا المعلومات، شارك دانيال لام بنشاط في العديد من المشاريع مفتوحة المصدر، متوليًا أدوارًا ومسؤوليات متنوعة. بالإضافة إلى ذلك، حقق تأسيس شركة خدمات تكنولوجيا المعلومات مقرها في اسكتلندا، تلبي احتياجات العملاء في جميع أنحاء العالم. تشمل خبرة دانيال الواسعة الدعم والمبيعات والمشاركة المجتمعية، مما يجلب كمية كبيرة من المعرفة والخبرة إلى المشروع.",
        icon: 'tabler:user',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="مواقعنا"
    tagline="ابحث عنا"
    columns={1}
    items={[
      {
        title: 'سنغافورة',
        description: '18A، كانبيرا درايف، ييشون',
      },
    ]}
  />
</Layout>
