---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: '우리에 대해',
};
---

<Layout metadata={metadata} i18n>
  <!-- Hero Widget ******************* -->

  <Hero tagline="우리에 대해">
    <Fragment slot="title"> 왜 우리는 이것을 만들고 있나요? </Fragment>

    <Fragment slot="subtitle">
      <p class="text-left">
        2020년 중반 Covid-19 팬데믹 속에서, 현재의 리드 개발자이자 창립자는 싱가포르에서 원격 근무를 촉진하기 위해 TeamViewer의 상업 라이센스를 구매해야겠다는 강한 필요성을 느꼈습니다. 그러나 그들은 그 비싼 비용에 놀랐습니다. 불면의 밤을 보낸 후, 그들은 대안 솔루션을 만들기로 결심했습니다. 그래서 RustDesk가 탄생했습니다 — 오픈 소스이며 자유롭게 접근 가능한 원격 데스크탑 소프트웨어로, 수많은 불면의 밤을 통해 정성스럽게 제작되었습니다. 이 헌신과 결단의 노력은 2021년 GitHub에 RustDesk를 출시하는 것으로 결실을 맺어, 전 세계의 개인들이 사용할 수 있게 되었습니다.
      </p>
    </Fragment>
  </Hero>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="핵심 팀"
    items={[
      {
        title: '조셉 잭스<br><small>CEO</small>',
        description:
          "조셉 잭스는 2018년에 OSS Capital을 설립했습니다. 이는 COSS(상업 오픈 소스) 스타트업에 전적으로 전념하는 세계 최초이자 유일한 초기 단계 VC입니다. 이전에는 최초의 쿠버네티스 스타트업(Kismatic)을 시작하고 운영하는 데 도움을 주었으며, 쿠버네티스 커뮤니티 회의인 KubeCon을 설립하고 운영한 후 2016년에 이를 리눅스 재단에 기부하여 CNCF(클라우드 네이티브 컴퓨팅 재단)가 형성되는 데 기여했습니다.",
        icon: 'tabler:user',
      },
      {
        title: '화빙 저우<br><small>CTO</small>',
        description:
          'RustDesk를 설립하고 개발하기 전에, 화빙 저우는 싱가포르에서 금융 IT 분야에서 12년 이상의 경험을 쌓았습니다. 그는 프로젝트와 비즈니스를 관리하는 데 있어 풍부한 실무 경험을 제공합니다.',
        icon: 'tabler:user',
      },
      {
        title: '다니엘 램<br><small>커뮤니티 어시스턴트</small>',
        description:
          "IT 산업에서 25년의 경력을 가진 다니엘 램은 수많은 오픈 소스 프로젝트에 적극적으로 참여하며 다양한 역할과 책임을 맡아왔습니다. 또한 그는 스코틀랜드에 본사를 둔 IT 서비스 회사를 설립하여 전 세계 고객을 대상으로 서비스를 제공했습니다. 다니엘의 방대한 전문 지식은 지원, 판매 및 커뮤니티 참여를 포함하여 프로젝트에 많은 지식과 경험을 제공합니다.",
        icon: 'tabler:user',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="우리의 위치"
    tagline="우리를 찾아보세요"
    columns={1}
    items={[
      {
        title: '싱가포르',
        description: '18A, 캔버라 드라이브, 이순',
      },
    ]}
  />
</Layout>
