---
import Layout from '~/layouts/PageLayout.astro';
import Note from '~/components/widgets/Note.astro';
import Prices from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: '料金',
};
---

<script>
  import Swal from 'sweetalert2';
  import 'sweetalert2/dist/sweetalert2.min.css';
  window['gotoBuy'] = function (redirectUrl) {
    Swal.fire({
      title: '確認してください',
      html: `<p style="text-align:left">購入ページに進みますか？ <br><br>購入するものは<b style="font-size: 2em">決して</b> <span style="text-decoration:line-through">SaaS（サービスとしてのソフトウェア）</span>サブスクリプションではないことにご注意ください。 <br><br>代わりに、これは<b style="font-size: 2em">セルフホスティング</b>ソリューションのライセンスであり、自身のサーバー（クラウドサーバー、例えばAWS EC2、Azure VM、Vultr VPSなど、または自社のオンプレミスサーバー）にデプロイする必要があります。 <br><br>セルフホスティングが何かわからない場合は、<b style="font-size: 2em">購入しないでください</b>`,
      icon: 'question',
      showCancelButton: true,
      confirmButtonText: 'はい',
      cancelButtonText: 'いいえ',
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire({
          title: '確認してください',
          html: `当社は<span class="text-3xl font-bold">返金を行っていません</span>のでご注意ください。Proプランの購入を検討される前に、<span class="underline font-bold">無料のセルフホスティングプランをテスト</span>することを強くお勧めします。それでも進めますか？`,
          showCancelButton: true,
          confirmButtonText: 'はい',
          cancelButtonText: 'いいえ',
        }).then((result) => {
          if (result.isConfirmed) {
            window.open(redirectUrl, '_blank');
          }
        });
      }
    });
  };
</script>

<Layout metadata={metadata} i18n>
  <Note
    title="注意"
    subtitle='この料金は<span class="text-xl text-blue-500">セルフホスティング</span>ソリューション用です。<span class="text-3xl font-extrabold">決して</span> <span class="line-through text-xl text-blue-500">SaaS</span>サブスクリプションではありません。'
  />

  <Prices
    title='当社の<span class="text-5xl text-blue-500">セルフホスティング</span>ソリューションの料金'
    subtitle="必要なものにのみ支払う"
    prices={[
      {
        title: '無料',
        subtitle: '無料セルフホスティングプラン',
        price: '0 <span class="text-sm">/月</span>',
        period: 'オープンソースで無料',
        items: [
          {
            description: 'オンラインステータス',
          },
          {
            description: 'コミュニティサポート',
          },
        ],
        callToAction: {
          target: '_blank',
          text: '始める',
          href: 'https://rustdesk.com/docs/en/self-host/rustdesk-server-oss/',
        },
      },
      {
        title: '個人',
        subtitle: '個人用セルフホスティング<span class="font-bold">Pro</span>プラン',
        price: '9.90 <span class="text-sm">/月</span>',
        period: '年間請求',
        items: [
          {
          description:
            '<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#login-users">1ログインユーザー <span class="inline-flex items-center justify-center w-4 h-4 text-xs font-bold text-white bg-red-500 rounded-full hover:bg-red-600 cursor-help ml-1" title="Click for more information">?</span></a>',
          },
          {
          description:
            '<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#managed-devices">20管理デバイス <span class="inline-flex items-center justify-center w-4 h-4 text-xs font-bold text-white bg-red-500 rounded-full hover:bg-red-600 cursor-help ml-1" title="Click for more information">?</span></a>',
          },
          {
          description:
            '<a class="underline text-red-500 font-bold" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#concurrent-connections">無制限の同時接続</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/2fa/">2要素認証</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/console/">Webコンソール</a>',
          },
          {
            description: 'アドレス帳',
          },
          {
            description: '監査ログ',
          },
          {
            description: 'ID変更',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/permissions/">アクセス制御</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/strategy/">一元化された設定</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/relay/">分散リレーサーバー</a>',
          },
        ],
        callToAction: {
          text: '今すぐ購入',
          onclick: 'gotoBuy("https://rustdesk.com/api/lic/stripe/checkout?type=Individual")',
          variant: 'primary',
        },
      },
      {
        title: 'ベーシック',
        subtitle: 'ベーシックセルフホスティング<span class="font-bold">Pro</span>プラン',
        price: '19.90 <span class="text-sm">/月</span>',
        period: '年間請求',
        items: [
          {
            description: '<span class="font-bold text-red-500">個人プランのすべての機能</span>',
            icon: 'tabler:checks',
          },
          {
          description:
            '<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#login-users">10ログインユーザー</a>',
          },
          {
          description:
            '<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#managed-devices">100管理デバイス</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/oidc/">OIDC (SSO)</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/ldap/">LDAP統合</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/permissions/#cross-group-settings">グループ間アクセス</a>',
          },
          {
            description:
              '<a class="underline text-blue-500 font-bold" target="_blank" href="https://rustdesk.com/docs/en/self-host/client-configuration/#1-custom-client-generator-pro-only">カスタムクライアントジェネレーター</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#how-to-make-rustdesk-work-properly-in-restricted-network-with-80443-only">WebSocket</a>',
          },
        ],
        callToAction: {
          text: '今すぐ購入',
          onclick: 'gotoBuy("https://rustdesk.com/api/lic/stripe/checkout?type=Basic")',
        },
        hasRibbon: true,
        ribbonTitle: '人気',
      },
      {
        title: 'カスタマイズ',
        subtitle: 'カスタマイズ<span class="font-bold">Pro</span>プラン',
        price: '<span id="cprice">19.90</span> <span class="text-sm">/月</span>',
        period: '年間請求',
        items: [
          {
            description: '<span class="font-bold text-red-500">ベーシックプランのすべての機能</span>',
            icon: 'tabler:checks',
          },
            {
            description: 'Webクライアントのセルフホスティング（$39.90/月以上のプランが必要）',
          },
          {
            description: '追加ユーザー1人につき$1',
          },
          {
            description: '追加デバイス1台につき$0.1',
          },
        ],
        content: `
<form class="flex flex-col space-y-3 mx-3 min-w-[200px]">
  <label for="users" class="text-left font-bold">ログインユーザー数：</label>
  <input class="bg-white text-black rounded-md border border-gray-300 py-1 px-2 w-24 h-10" type="number" id="users" name="users" value="10" min="10" max="500" step="10">
  <input type="range" id="usersSlider" class="slider" name="usersRange" value="10" min="10" max="500" step="10">
  <label for="devices" class="text-left font-bold">管理デバイス数：</label>
  <input class="bg-white text-black rounded-md border border-gray-300 py-1 px-2 w-24 h-10" type="number" id="devices" name="devices" value="100" min="100" max="5000" step="100">
  <input type="range" id="devicesSlider" class="slider" name="devicesRange" value="100" min="100" max="5000" step="100">
</form>
<br>
`,
        callToAction: {
          text: '今すぐ購入',
          onclick: 'submit()',
          variant: 'primary',
        },
      },
    ]}
  />

  <Prices
    prices={[
      {
        title: 'カスタマイズV2',
        subtitle: '同時接続数制限付きカスタマイズ<span class="font-bold">Pro</span>プラン',
        price: '<span id="cprice2">19.90</span> <span class="text-sm">/月</span>',
        period: '年間請求',
        items: [
          {
            description: `<span class="font-bold">ベーシックセルフホスティングプランのすべての機能<span class="underline font-normal">ただし、同時接続数に制限があり、過剰な管理デバイスは無効化されません</span></span>`,
            icon: 'tabler:checks',
          },
          {
            description: '同時接続ごとに無制限の同時セッション（タブまたは別ウィンドウ）',
          },
          {
            description: '追加ユーザー1人につき$1',
          },
          {
            description: '追加デバイス1台につき$0.1',
          },
          {
            description: '追加同時接続1つにつき$20',
          },
        ],
        id: 'custom2',
        content: `
<form class="flex flex-col space-y-3 mx-3">
  <label for="users2" class="text-left font-bold">ライセンスユーザー数：</label>
  <input class="bg-white text-black rounded-md border border-gray-300 py-1 px-2 w-24 h-10" type="number" id="users2" name="users2" value="10" min="10" max="500" step="10">
  <input type="range" id="usersSlider2" class="slider" name="usersRange2" value="10" min="10" max="500" step="10">
  <label for="devices2" class="text-left font-bold">管理デバイス数：</label>
  <input class="bg-white text-black rounded-md border border-gray-300 py-1 px-2 w-24 h-10" type="number" id="devices2" name="devices2" value="100" min="100" max="5000" step="100">
  <input type="range" id="devicesSlider2" class="slider" name="devicesRange2" value="100" min="100" max="5000" step="100">
  <label for="conns" class="text-left font-bold">同時接続数：</label>
  <input class="bg-white text-black rounded-md border border-gray-300 py-1 px-2 w-24 h-10" type="number" id="conns" name="conns" value="1" min="1" max="50" step="1">
  <input type="range" id="connsSlider" class="slider" name="connsRange" value="1" min="1" max="50" step="1">
</form>
<br>
`,
        callToAction: {
          text: '今すぐ購入',
          onclick: 'submit2()',
          variant: 'primary',
        },
      },
    ]}
  />

  <CallToAction
    actions={[
      {
        text: 'sales@rustdesk.com',
        href: 'mailto:sales@rustdesk.com',
        target: '_blank',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">より大規模なプランやお問い合わせについてはお問い合わせください</Fragment>
  </CallToAction>

  <Steps
    title="プランから本番環境までのガイド付き旅"
    tagline="簡略化されたプロセス"
    isReversed={true}
    items={[
      {
        title: 'RustDesk Server Proをインストール',
        icon: 'tabler:number-1',
        description:
          '<code>bash <(wget -qO- https://get.docker.com)<br>wget rustdesk.com/pro.yml -O compose.yml<br>docker compose up -d</code>',
      },
      {
        title: 'プランを探索し、選択',
        icon: 'tabler:number-2',
      },
      {
        title: 'メールアドレスと支払い詳細を入力',
        icon: 'tabler:number-3',
      },
      {
        title: '入力したメールアドレスでライセンスキーを受け取る',
        icon: 'tabler:number-4',
      },
      {
        title: 'RustDesk Server ProのWebコンソールでライセンスキーを入力',
        icon: 'tabler:number-5',
      },
      {
        title: '準備完了！',
        icon: 'tabler:check',
        description:
          '詳細な手順については、<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/license/">ドキュメント</a>をご参照ください。',
      },
    ]}
    image={{
      src: '~/assets/images/steps.jpg',
      alt: 'ステップ画像',
    }}
  />

  <FAQs
    title="料金に関するよくある質問"
    subtitle="適切なプランを選ぶことは重要です。私たちはあなたの質問に答える準備ができています。料金オプションについて質問がある場合は、ここが適切な場所です。"
    columns={1}
    items={[
      {
        title: 'プランにはカスタマーサポートが含まれていますか？',
        description:
          'はい、すべての有料プランには、質問や懸念事項に対応する専任のカスタマーサポートへのアクセスが含まれています。',
      },
      {
        title: '試用ライセンスはありますか？',
        description: '<a class="underline" href="mailto:sales@rustdesk.com">お問い合わせください</a>',
      },
      {
        title: 'プランをアップグレードするにはどうすればいいですか？',
        description:
          'もちろんです！進化するニーズに最適なプランを見つけるために、いつでも簡単に<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/license/#renewupgrade-license">プランをアップグレード</a>できます。',
      },
      {
        title: 'どの支払い方法を受け付けていますか？',
        description:
          '主要なクレジットカードやオンライン決済方法を受け付けており、便利で安全な取引プロセスを確保しています。銀行振込で支払いたい場合は、<a class="underline" href="mailto:sales@rustdesk.com">お問い合わせください</a>。追加の銀行手数料がかかり、オフライン支払いが銀行に到着次第ライセンスキーをお送りします。これには3〜5営業日かかります。',
      },
      {
        title: '表示されている費用以外に隠れた料金はありますか？',
        description:
          'いいえ、費用には各プランに記載されているすべての機能が含まれています。隠れた料金や追加料金はありません。',
      },
      {
        title: '月払いはありますか？',
        description:
          'いいえ、年間支払いプランのみを提供しています。自動更新はしません。有効期限の14日前にライセンスを更新するためのリマインダーメールが送信されます。',
      },
      {
        title: '非営利団体や教育機関向けの割引はありますか？',
        description: 'いいえ、まだありません。無料プランをご利用いただくことをお勧めします。',
      },
      {
        title: '利用規約はどのようなものですか？',
        description:
          'この<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk-server-pro/blob/main/terms">利用規約</a>をご確認ください',
      },
      {
        title:
          '臨時のサポートケースについてはどうですか？無人アクセスなしで時々サポートが必要なデバイスがあります。',
        description:
          'この<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk-server-pro/discussions/182#discussioncomment-10083053">解決策</a>を提供しています',
      },
    ]}
  />
</Layout>
