---
import Layout from '~/layouts/PageLayout.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Soporte RustDesk - Ayuda y Documentación para Software de Escritorio Remoto',
  description: 'Obtenga ayuda con el software de escritorio remoto RustDesk. Encuentre documentación, guías de solución de problemas y recursos de soporte para soluciones de acceso remoto autoalojadas.',
  keywords: 'soporte rustdesk, ayuda escritorio remoto, soporte autoalojado, documentación acceso remoto, solución problemas rustdesk, ayuda configuración escritorio remoto',
  author: 'RustDesk Team',
};
---

<Layout metadata={metadata} i18n>
  <Features2
    title="¡Estamos aquí para ayudar!"
    items={[
      {
        title: 'Problemas',
        description: `¿Encontraste un error? Nos encantaría saber al respecto en nuestros problemas de GitHub.`,
      },
      {
        title: 'Soporte de la Comunidad',
        description: 'Únete a nuestro servidor de Discord para buscar ayuda y mejores prácticas.',
      },
      {
        title: 'Ticket para Usuario Pro',
        description: 'Envíanos un correo electrónico si encuentras algún problema mientras usas RustDesk Server Pro.',
      },
      {
        title: 'GitHub',
        description: '<a target="_blank" href="https://github.com/rustdesk/rustdesk/issues">Abrir un problema</a>',
        icon: 'tabler:brand-github',
      },
      {
        title: 'Discord',
        description: '<a target="_blank" href="https://discord.com/invite/nDceKgxnkV">Únete a nuestro servidor</a>',
        icon: 'tabler:brand-discord',
      },
      {
        title: 'Correo electrónico',
        description: '<a href="mailto:support@rustdesk.com">support@rustdesk.com</a>',
        icon: 'tabler:mail',
      },
    ]}
  />
</Layout>
