---
import Layout from '~/layouts/PageLayout.astro';
import Note from '~/components/widgets/Note.astro';
import Prices from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Prezzi',
};
---

<script>
  import Swal from 'sweetalert2';
  import 'sweetalert2/dist/sweetalert2.min.css';
  window['gotoBuy'] = function (redirectUrl) {
    Swal.fire({
      title: 'Conferma per favore',
      html: `<p style="text-align:left">Vuoi procedere alla pagina di acquisto? <br><br>Si prega di notare che ciò che stai acquistando <b style="font-size: 2em">NON</b> è un abbonamento <span style="text-decoration:line-through">SaaS (Software as a Service)</span>. <br><br>Invece, è una licenza per una soluzione <b style="font-size: 2em">self-hosting</b>, che richiede di essere distribuita sul tuo server (server cloud, ad esempio AWS EC2, Azure VM, Vultr VPS ecc., o il tuo server on-premise). <br><br>Per favore <b style="font-size: 2em">non</b> acquistare se non sai cosa sia il self-hosting`,
      icon: 'question',
      showCancelButton: true,
      confirmButtonText: 'Sì',
      cancelButtonText: 'No',
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire({
          title: 'Conferma per favore',
          html: `Si prega di notare che <span class="text-3xl font-bold">non</span> offriamo <span class="text-3xl font-bold">rimborsi</span>. Ti consigliamo vivamente di <span class="underline font-bold">testare il nostro piano gratuito di self-hosting</span> prima di considerare l'acquisto del nostro piano Pro. Sei ancora interessato a procedere?`,
          showCancelButton: true,
          confirmButtonText: 'Sì',
          cancelButtonText: 'No',
        }).then((result) => {
          if (result.isConfirmed) {
            window.open(redirectUrl, '_blank');
          }
        });
      }
    });
  };
</script>

<Layout metadata={metadata} i18n>
  <Note
    title="Nota"
    subtitle='Questo prezzo è per una soluzione <span class="text-xl text-blue-500">self-hosting</span>, <span class="text-3xl font-extrabold">NON</span> è un abbonamento <span class="line-through text-xl text-blue-500">SaaS</span>.'
  />

  <Prices
    title='Prezzi delle nostre soluzioni <span class="text-5xl text-blue-500">self-hosting</span>'
    subtitle="Paga solo per ciò di cui hai bisogno"
    prices={[
      {
        title: 'Gratuito',
        subtitle: 'Piano self-hosting gratuito',
        price: '0 <span class="text-sm">/mese</span>',
        period: 'Open source e gratuito',
        items: [
          {
            description: 'Stato online',
          },
          {
            description: 'Supporto della community',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Inizia',
          href: 'https://rustdesk.com/docs/en/self-host/rustdesk-server-oss/',
        },
      },
      {
        title: 'Individuale',
        subtitle: 'Piano self-hosting <span class="font-bold">Pro</span> individuale',
        price: '9.90 <span class="text-sm">/mese</span>',
        period: 'fatturato annualmente',
        items: [
          {
            description:
              '<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#what-are-managed-devices--licensed-users--concurrent-connections-in-pro">1 utente con licenza</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#what-are-managed-devices--licensed-users--concurrent-connections-in-pro">20 dispositivi gestiti</a>',
          },
          {
            description:
              '<a class="underline text-blue-500 font-bold" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#what-are-managed-devices--licensed-users--concurrent-connections-in-pro">Connessioni simultanee illimitate</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/2fa/">2FA</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/console/">Console web</a>',
          },
          {
            description: 'Rubrica',
          },
          {
            description: 'Log di audit',
          },
          {
            description: 'Cambio ID',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/permissions/">Controllo degli accessi</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/strategy/">Impostazioni centralizzate</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/relay/">Server relay distribuiti</a>',
          },
        ],
        callToAction: {
          text: 'Acquista ora',
          onclick: 'gotoBuy("https://rustdesk.com/api/lic/stripe/checkout?type=Individual")',
          variant: 'primary',
        },
      },
      {
        title: 'Base',
        subtitle: 'Piano self-hosting <span class="font-bold">Pro</span> base',
        price: '19.90 <span class="text-sm">/mese</span>',
        period: 'fatturato annualmente',
        items: [
          {
            description: '<span class="font-bold">Tutto nel piano individuale</span>',
            icon: 'tabler:checks',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#what-are-managed-devices--licensed-users--concurrent-connections-in-pro">10 utenti con licenza</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#what-are-managed-devices--licensed-users--concurrent-connections-in-pro">100 dispositivi gestiti</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/oidc/">OIDC (SSO)</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/ldap/">Integrazione LDAP</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/permissions/#cross-group-settings">Accesso tra gruppi</a>',
          },
          {
            description:
              '<a class="underline text-blue-500 font-bold" target="_blank" href="https://rustdesk.com/docs/en/self-host/client-configuration/#1-custom-client-generator-pro-only">Generatore di client personalizzato</a>',
          },
        ],
        callToAction: {
          text: 'Acquista ora',
          onclick: 'gotoBuy("https://rustdesk.com/api/lic/stripe/checkout?type=Basic")',
        },
        hasRibbon: true,
        ribbonTitle: 'popolare',
      },
      {
        title: 'Personalizzato',
        subtitle: 'Piano <span class="font-bold">Pro</span> personalizzato',
        price: '<span id="cprice">19.90</span> <span class="text-sm">/mese</span>',
        period: 'fatturato annualmente',
        items: [
          {
            description: '<span class="font-bold">Tutto nel piano base</span>',
            icon: 'tabler:checks',
          },
          {
            description: '1€ per ogni utente aggiuntivo',
          },
          {
            description: '0,1€ per ogni dispositivo aggiuntivo',
          },
        ],
        content: `
<form class="flex flex-col space-y-3 mx-3 min-w-[200px]">
  <label for="users" class="text-left font-bold">Numero di utenti con licenza:</label>
  <input class="bg-white text-black rounded-md border border-gray-300 py-1 px-2 w-24 h-10" type="number" id="users" name="users" value="10" min="10" max="500" step="10">
  <input type="range" id="usersSlider" class="slider" name="usersRange" value="10" min="10" max="500" step="10">
  <label for="devices" class="text-left font-bold">Numero di dispositivi gestiti:</label>
  <input class="bg-white text-black rounded-md border border-gray-300 py-1 px-2 w-24 h-10" type="number" id="devices" name="devices" value="100" min="100" max="5000" step="100">
  <input type="range" id="devicesSlider" class="slider" name="devicesRange" value="100" min="100" max="5000" step="100">
</form>
<br>
<script>
  console.log('loaded'); // no idea why but this fixes below "users" not found.
  var users = 10;
  var devices = 100;
  function submit() {
    redirectUrl = "https://rustdesk.com/api/lic/stripe/checkout?type=Customized&users=" + users + "&devices=" + devices;
    gotoBuy(redirectUrl);
  }
  function calculatePrice() {
    users = parseInt(document.getElementById("users").value);
    devices = parseInt(document.getElementById("devices").value);
    if (!users || users < 10) users = 10;
    if (devices < 100) devices = 100;
    var price =  19.9 + (users - 10) + (devices - 100) * 0.1;
    document.getElementById("cprice").innerText = price.toFixed(price >= 100 ? 1 : 2);
  }

  document.getElementById("users").oninput = function() {
    document.getElementById("usersSlider").value = this.value;
    calculatePrice();
  }

  document.getElementById("devices").oninput = function() {
    document.getElementById("devicesSlider").value = this.value;
    calculatePrice();
  }

  document.getElementById("usersSlider").oninput = function() {
    document.getElementById("users").value = this.value;
    calculatePrice();
  }

  document.getElementById("devicesSlider").oninput = function() {
    document.getElementById("devices").value = this.value;
    calculatePrice();
  }
</script>
`,
        callToAction: {
          text: 'Acquista ora',
          onclick: 'submit()',
          variant: 'primary',
        },
      },
    ]}
  />

  <Prices
    prices={[
      {
        title: 'Personalizzato V2',
        subtitle: 'Piano <span class="font-bold">Pro</span> personalizzato con connessioni simultanee limitate',
        price: '<span id="cprice2">19.90</span> <span class="text-sm">/mese</span>',
        period: 'fatturato annualmente',
        items: [
          {
            description: `<span class="font-bold">Tutto nel piano base self-hosting <span class="underline font-normal">ma con connessioni simultanee limitate, i dispositivi gestiti in eccesso non verranno disabilitati</span></span>`,
            icon: 'tabler:checks',
          },
          {
            description: 'Sessioni simultanee illimitate (in schede o finestre separate) per connessione simultanea',
          },
          {
            description: '1€ per ogni utente aggiuntivo',
          },
          {
            description: '0,1€ per ogni dispositivo aggiuntivo',
          },
          {
            description: '20€ per ogni connessione simultanea aggiuntiva',
          },
        ],
        id: 'custom2',
        content: `
<form class="flex flex-col space-y-3 mx-3">
  <label for="users2" class="text-left font-bold">Numero di utenti con licenza:</label>
  <input class="bg-white text-black rounded-md border border-gray-300 py-1 px-2 w-24 h-10" type="number" id="users2" name="users2" value="10" min="10" max="500" step="10">
  <input type="range" id="usersSlider2" class="slider" name="usersRange2" value="10" min="10" max="500" step="10">
  <label for="devices2" class="text-left font-bold">Numero di dispositivi gestiti:</label>
  <input class="bg-white text-black rounded-md border border-gray-300 py-1 px-2 w-24 h-10" type="number" id="devices2" name="devices2" value="100" min="100" max="5000" step="100">
  <input type="range" id="devicesSlider2" class="slider" name="devicesRange2" value="100" min="100" max="5000" step="100">
  <label for="conns" class="text-left font-bold">Numero di connessioni simultanee:</label>
  <input class="bg-white text-black rounded-md border border-gray-300 py-1 px-2 w-24 h-10" type="number" id="conns" name="conns" value="1" min="1" max="50" step="1">
  <input type="range" id="connsSlider" class="slider" name="connsRange" value="1" min="1" max="50" step="1">
</form>
<br>
<script>
 var users2 = 10;
 var devices2 = 100;
 var conns = 1;
 function submit2() {
   redirectUrl = "https://rustdesk.com/api/lic/stripe/checkout?type=Customized&users=" + users2 + "&devices=" + devices2 + "&conns=" + conns;
   gotoBuy(redirectUrl);
 }
 function calculatePrice2() {
   users2 = parseInt(document.getElementById("users2").value);
   devices2 = parseInt(document.getElementById("devices2").value);
   conns = parseInt(document.getElementById("conns").value);
   if (!users2 || users2 < 10) users2 = 10;
   if (devices2 < 100) devices2 = 100;
   if (conns < 1) conns = 1;
   var price =  19.9 + (users2 - 10) + (devices2 - 100) * 0.1 + (conns - 1) * 20;
   document.getElementById("cprice2").innerText = price.toFixed(price >= 100 ? 1 : 2);
 }

 if (window.location.href.indexOf("custom2") > 0) {
    setTimeout(function() { window.location = "#custom2"; }, 150);
 } else {
    setTimeout(function() { document.getElementById("custom2").parentElement.parentElement.parentElement.style.display = 'none'; }, 0);
 }

 document.getElementById("users2").oninput = function() {
   document.getElementById("usersSlider2").value = this.value;
   calculatePrice2();
 }

 document.getElementById("devices2").oninput = function() {
   document.getElementById("devicesSlider2").value = this.value;
   calculatePrice2();
 }

 document.getElementById("conns").oninput = function() {
   document.getElementById("connsSlider").value = this.value;
   calculatePrice2();
 }

 document.getElementById("usersSlider2").oninput = function() {
   document.getElementById("users2").value = this.value;
   calculatePrice2();
 }                    
 
 document.getElementById("devicesSlider2").oninput = function() {
   document.getElementById("devices2").value = this.value;
   calculatePrice2();
 }

 document.getElementById("connsSlider").oninput = function() {
   document.getElementById("conns").value = this.value;
   calculatePrice2();
 }
</script>
`,
        callToAction: {
          text: 'Acquista ora',
          onclick: 'submit2()',
          variant: 'primary',
        },
      },
    ]}
  />

  <CallToAction
    actions={[
      {
        text: 'sales@rustdesk.com',
        href: 'mailto:sales@rustdesk.com',
        target: '_blank',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">Contattaci per piani più grandi e richieste</Fragment>
  </CallToAction>

  <Steps
    title="Un percorso guidato dai piani alla produzione"
    tagline="processo semplificato"
    isReversed={true}
    items={[
      {
        title: 'Installa RustDesk Server Pro',
        icon: 'tabler:number-1',
        description:
          '<code>bash <(wget -qO- https://get.docker.com)<br>wget rustdesk.com/pro.yml -O compose.yml<br>docker compose up -d</code>',
      },
      {
        title: 'Esplora i piani e seleziona un piano',
        icon: 'tabler:number-2',
      },
      {
        title: 'Inserisci email e dettagli di pagamento',
        icon: 'tabler:number-3',
      },
      {
        title: 'Ricevi la chiave di licenza tramite l\'email inserita',
        icon: 'tabler:number-4',
      },
      {
        title: 'Inserisci la chiave di licenza nella console web di RustDesk Server Pro',
        icon: 'tabler:number-5',
      },
      {
        title: 'Pronto!',
        icon: 'tabler:check',
        description:
          'Per istruzioni dettagliate, consulta la nostra <a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/license/">documentazione</a>.',
      },
    ]}
    image={{
      src: '~/assets/images/steps.jpg',
      alt: 'Immagine dei passaggi',
    }}
  />

  <FAQs
    title="FAQ sui prezzi"
    subtitle="Scegliere il piano giusto è importante, e siamo qui per rispondere alle tue domande. Se hai domande sulle nostre opzioni di prezzo, sei nel posto giusto."
    columns={1}
    items={[
      {
        title: 'I piani includono il supporto clienti?',
        description:
          'Assolutamente, tutti i piani a pagamento includono l\'accesso al nostro supporto clienti dedicato per assisterti con qualsiasi domanda o preoccupazione.',
      },
      {
        title: 'C\'è una licenza di prova?',
        description: 'Per favore <a class="underline" href="mailto:sales@rustdesk.com">contattaci</a>',
      },
      {
        title: 'Come posso aggiornare il mio piano?',
        description:
          'Certamente! Puoi facilmente <a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/license/#renewupgrade-license">aggiornare il tuo piano</a>, in qualsiasi momento, per trovare quello che meglio si adatta alle tue esigenze in evoluzione.',
      },
      {
        title: 'Quali metodi di pagamento accettate?',
        description:
          'Accettiamo le principali carte di credito e metodi di pagamento online per garantire un processo di transazione conveniente e sicuro. Se desideri pagare tramite bonifico bancario, per favore <a class="underline" href="mailto:sales@rustdesk.com">contattaci</a>; ti verrà addebitata una commissione extra per il processo bancario, e ti invieremo la chiave di licenza una volta ricevuto il pagamento offline in banca; ci vogliono 3-5 giorni lavorativi.',
      },
      {
        title: 'Ci sono costi nascosti oltre al prezzo visualizzato?',
        description:
          'No, il costo copre tutte le funzionalità elencate sotto ciascun piano. Non ci sono costi nascosti o addebiti extra.',
      },
      {
        title: 'Avete pagamenti mensili?',
        description:
          'No, offriamo solo piani di pagamento annuali. Non rinnoviamo automaticamente; riceverai un\'email per ricordarti di rinnovare la tua licenza 14 giorni prima della data di scadenza.',
      },
      {
        title: 'Avete sconti per organizzazioni no-profit o educative?',
        description: 'No, non li abbiamo ancora. Ti incoraggiamo a utilizzare il piano gratuito.',
      },
      {
        title: 'Quali sono i vostri termini?',
        description:
          'Per favore controlla questi <a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk-server-pro/blob/main/terms">termini</a>',
      },
      {
        title:
          'Cosa succede con i casi di supporto occasionale? Abbiamo alcuni dispositivi che necessitano di supporto occasionale senza accesso non presidiato.',
        description:
          'Forniamo questa <a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk-server-pro/discussions/182#discussioncomment-10083053">soluzione</a>',
      },
    ]}
  />
</Layout>
