---
import Layout from '~/layouts/PageLayout.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Supporto RustDesk - Aiuto e Documentazione per Software Desktop Remoto',
  description: 'Ottieni aiuto con il software desktop remoto RustDesk. Trova documentazione, guide per la risoluzione dei problemi e risorse di supporto per soluzioni di accesso remoto self-hosted.',
  keywords: 'supporto rustdesk, aiuto desktop remoto, supporto self-hosted, documentazione accesso remoto, risoluzione problemi rustdesk, aiuto configurazione desktop remoto',
  author: 'RustDesk Team',
};
---

<Layout metadata={metadata} i18n>
  <Features2
    title="Siamo qui per aiutarti!"
    items={[
      {
        title: 'Problemi',
        description: `Hai trovato un bug? Ci piacerebbe sentirne parlare nei nostri problemi su GitHub.`,
      },
      {
        title: 'Supporto della Comunità',
        description: 'Unisciti al nostro server Discord per cercare aiuto e le migliori pratiche.',
      },
      {
        title: 'Ticket per Utenti Pro',
        description: `Mandaci un'email se incontri problemi mentre usi RustDesk Server Pro.`,
      },
      {
        title: 'GitHub',
        description: '<a target="_blank" href="https://github.com/rustdesk/rustdesk/issues">Apri un problema</a>',
        icon: 'tabler:brand-github',
      },
      {
        title: 'Discord',
        description: '<a target="_blank" href="https://discord.com/invite/nDceKgxnkV">Unisciti al nostro server</a>',
        icon: 'tabler:brand-discord',
      },
      {
        title: 'Email',
        description: '<a href="mailto:support@rustdesk.com">support@rustdesk.com</a>',
        icon: 'tabler:mail',
      },
    ]}
  />
</Layout>
