---

---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap justify-center items-center"
>
  <span class="bg-secondary text-slate-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >NEW</span
  >
  <a href="blog/2024/10/rustdesk-web-client-v2-preview" class="text-muted hover:underline dark:text-slate-400 font-medium"
    >RustDesk web client V2 Preview is now available! »</a
  >
</div>
