---
import Layout from '~/layouts/PageLayout.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'RustDesk 支援 - 遠端桌面軟體幫助與文件',
  description: '獲得 RustDesk 遠端桌面軟體的幫助。查找文件、故障排除指南和自託管遠端存取解決方案的支援資源。',
  keywords: 'rustdesk支援, 遠端桌面幫助, 自託管支援, 遠端存取文件, rustdesk故障排除, 遠端桌面設置幫助',
  author: 'RustDesk Team',
};
---

<Layout metadata={metadata} i18n>
  <Features2
    title="我們隨時為您提供協助！"
    items={[
      {
        title: '問題回報',
        description: `發現錯誤？我們很樂意在 GitHub 問題區聽取您的回饋。`,
      },
      {
        title: '社群支援',
        description: '加入我們的 Discord 伺服器，尋求協助和最佳實踐。',
      },
      {
        title: '專業版用戶支援票',
        description: '如果您在使用 RustDesk Server Pro 時遇到任何問題，請發送電子郵件給我們。',
      },
      {
        title: 'GitHub',
        description: '<a target="_blank" href="https://github.com/rustdesk/rustdesk/issues">開啟問題</a>',
        icon: 'tabler:brand-github',
      },
      {
        title: 'Discord',
        description: '<a target="_blank" href="https://discord.com/invite/nDceKgxnkV">加入我們的伺服器</a>',
        icon: 'tabler:brand-discord',
      },
      {
        title: '電子郵件',
        description: '<a href="mailto:support@rustdesk.com">support@rustdesk.com</a>',
        icon: 'tabler:mail',
      },
    ]}
  />
</Layout>
