---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: '关于 RustDesk - 远程桌面软件团队及公司信息',
  description: '了解 RustDesk 团队和我们提供最优秀开源远程桌面软件的使命。认识我们的开发者和自建远程访问解决方案背后的贡献者。',
  keywords: 'rustdesk团队, 关于rustdesk, 远程桌面公司, 开源开发者, 自建远程访问团队, rustdesk贡献者',
  author: 'RustDesk Team',
};
---

<Layout metadata={metadata} i18n>
  <!-- Hero Widget ******************* -->

  <Hero tagline="关于我们">
    <Fragment slot="title">我们为什么要开发这个项目？</Fragment>

    <Fragment slot="subtitle">
      <p class="text-left">
        在2020年中新冠疫情期间，RustDesk团队发现自己需要购买TeamViewer的商业许可证以便进行远程工作。然而，他们对其高昂的成本感到震惊。经过一个不眠之夜后，他们开始着手创建一个替代解决方案。就这样，RustDesk诞生了——一个开源、免费的远程桌面软件，通过无数个不眠之夜精心打造。这份奉献和决心的成果最终在2021年在GitHub上发布，使全世界的人们都能使用RustDesk。
      </p>
    </Fragment>
  </Hero>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="核心团队"
    items={[
      {
        title: 'Joseph Jacks<br><small>首席执行官</small>',
        description:
          "Joseph Jacks于2018年创立了OSS Capital。这是世界上第一个也是唯一一个专门针对全球COSS（商业开源）初创公司的早期风险投资公司。此前，他帮助创立并运营了第一家Kubernetes初创公司（Kismatic），还创立并运营了KubeCon（Kubernetes社区会议），后来在2016年CNCF（云原生计算基金会）成立时将其捐赠给了Linux基金会。",
        icon: 'tabler:user',
      },
      {
        title: 'Daniel Lamb<br><small>社区助理</small>',
        description:
          "Daniel Lamb在IT行业拥有长达四分之一世纪的卓越职业生涯，积极参与了众多开源项目，承担各种角色和责任。此外，他还成功地在苏格兰建立了一家IT服务公司，为全球客户提供服务。Daniel的广泛专业知识涵盖支持、销售和社区参与，为项目带来了大量的知识和经验。",
        icon: 'tabler:user',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="我们的位置"
    tagline="找到我们"
    columns={1}
    items={[
      {
        title: '新加坡',
        description: '义顺，堪培拉道',
      },
    ]}
  />
</Layout>
