---
import Layout from '~/layouts/PageLayout.astro';
import Note from '~/components/widgets/Note.astro';
import Prices from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Pricing',
};
---

<Layout metadata={metadata}>
  <Note
    title="Note"
    subtitle='This pricing is for <span class="text-xl text-blue-500">self-hosting</span>solution, it is not a <span class="line-through text-xl text-blue-500">SaaS</span> subscription.'
  />

  <!-- Pricing Widget ******************* -->

  <Prices
    title='Pricing of our <span class="text-5xl text-blue-500">self-hosting</span> solutions'
    subtitle="Only pay for what you need"
    prices={[
      {
        title: 'Free',
        subtitle: 'Free Self-hosting Plan',
        price: '0 <span class="text-sm">/month</span>',
        period: 'Open source and free',
        items: [
          {
            description: 'Online status',
          },
          {
            description: 'Community support',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: 'https://rustdesk.com/docs/en/self-host/rustdesk-server-oss/',
        },
      },
      {
        title: 'Individual',
        subtitle: 'Individual Self-hosting Pro Plan',
        price: '9.90 <span class="text-sm">/month</span>',
        period: 'billed annually',
        items: [
          {
            description:
              '<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#what-are-managed-devices--licensed-users--concurrent-connections-in-pro">1 licensed user</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#what-are-managed-devices--licensed-users--concurrent-connections-in-pro">20 managed devices</a>',
          },
          {
            description:
              '<a class="underline text-blue-500 font-bold" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#what-are-managed-devices--licensed-users--concurrent-connections-in-pro">Unlimited concurrent connections</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/2fa/">2FA</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/console/">Web console</a>',
          },
          {
            description: 'Address book',
          },
          {
            description: 'Audit log',
          },
          {
            description: 'Change ID',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/permissions/">Access control</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/strategy/">Centralized settings</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/relay/">Distributed relay servers</a>',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: '#',
        },
      },
      {
        title: 'Basic',
        subtitle: 'Basic Self-hosting Pro Plan',
        price: '19.90 <span class="text-sm">/month</span>',
        period: 'billed annually',
        items: [
          {
            description: '<span class="font-bold">Everything in the individual plan</span>',
            icon: 'tabler:checks',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#what-are-managed-devices--licensed-users--concurrent-connections-in-pro">10 licensed users</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://github.com/rustdesk/rustdesk/wiki/FAQ#what-are-managed-devices--licensed-users--concurrent-connections-in-pro">100 managed devices</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/oidc/">OIDC (SSO)</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/ldap/">LDAP integration</a>',
          },
          {
            description:
              '<a class="underline" target="_blank" href="https://rustdesk.com/docs/en/self-host/rustdesk-server-pro/permissions/#cross-group-settings">Cross group access</a>',
          },
          {
            description:
              '<a class="underline text-blue-500 font-bold" target="_blank" href="https://rustdesk.com/docs/en/self-host/client-configuration/#1-custom-client-generator-pro-only">Custom client generator</a>',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Customized',
        subtitle: 'Customized Pro Plan',
        price: '0 <span class="text-sm">/month</span>',
        period: 'billed annually',
        items: [
          {
            description: '<span class="font-bold">Everything in the basic plan</span>',
            icon: 'tabler:checks',
          },
          {
            description: '$1 for each additional user',
          },
          {
            description: '$0.1 for each additional device',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: 'https://rustdesk.com/docs/en/self-host/rustdesk-server-oss/',
        },
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Price-related features"
    subtitle="Discover the advantages of choosing our plans"
    columns={2}
    items={[
      {
        title: 'Tiered Pricing Plans',
        description: 'Choose from a range of pricing plans designed to accommodate different budgets and requirements.',
        icon: 'tabler:stairs',
      },
      {
        title: 'Transparent Pricing',
        description: 'Clearly displayed pricing details for each plan, with no hidden costs or unexpected charges.',
        icon: 'tabler:flip-vertical',
      },
      {
        title: 'Secure Payment Methods',
        description: 'Secure payment gateways to protect your financial information during transactions.',
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Instant Access',
        description: `Immediate access to your chosen plan's features and templates upon subscription.`,
        icon: 'tabler:accessible',
      },
      {
        title: 'Upgrade Value',
        description: 'Upgrade to higher-tier plans to unlock more features and benefits for an enhanced experience.',
        icon: 'tabler:chevrons-up',
      },
      {
        title: '24H support',
        description: 'Questions answered via live chat, email or phone, every calendar day.',
        icon: 'tabler:headset',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="A guided journey from plans to creativity"
    tagline="simplified process"
    isReversed={true}
    items={[
      {
        title: 'Explore plans',
        icon: 'tabler:number-1',
      },
      {
        title: 'Select a plan',
        icon: 'tabler:number-2',
      },
      {
        title: 'Sign Up / Log In',
        icon: 'tabler:number-3',
      },
      {
        title: 'Review order',
        icon: 'tabler:number-4',
      },
      {
        title: 'Enter payment details',
        icon: 'tabler:number-5',
      },
      {
        title: 'Confirmation',
        icon: 'tabler:number-6',
      },
      {
        title: 'Download and start using the template(s)',
        icon: 'tabler:number-7',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1536816579748-4ecb3f03d72a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Pricing FAQs"
    subtitle="Choosing the right plan is important, and we're here to answer your questions. If you have queries about our pricing options, you're in the right place."
    columns={1}
    items={[
      {
        title: 'Do the plans come with customer support?',
        description:
          'Absolutely, all plans include access to our dedicated customer support to assist you with any queries or concerns.',
      },
      {
        title: 'Is there a trial period for the different plans?',
        description:
          "Unfortunately, we don't offer trial periods for the plans. However, you can check out our demo section to preview the quality of our templates.",
      },
      {
        title: 'Can I switch between plans?',
        description:
          'Certainly! You can easily upgrade or downgrade your plan, at any time, to find the one that best suits your evolving requirements.',
      },
      {
        title: 'What payment methods do you accept?',
        description:
          'We accept major credit cards and online payment methods to ensure a convenient and secure transaction process.',
      },
      {
        title: 'Are there any hidden fees beyond the displayed cost?',
        description:
          'No, the subscription cost covers all the features and templates listed under each plan. There are no hidden fees or extra charges.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Ready to boost your projects?"
    subtitle="Join our community of satisfied customers who have transformed their work with our templates."
    actions={[
      {
        variant: 'primary',
        text: 'Get started now',
        href: '/',
      },
    ]}
  />
</Layout>
